RewriteEngine on  
   
RewriteRule ^Home  index.php [NC,L]
RewriteRule ^about-us.php about-us.php [NC,L]
RewriteRule ^contact.php  contact.php [NC,L] 
RewriteRule ^Career  career.php [NC,L] 
RewriteRule ^Other-Loans  other_loan.php [NC,L] 
RewriteRule ^Privacy-and-Policy  Privacy_Policy.php [NC,L] 
RewriteRule ^Terms-and-Conditions  Terms_and_Conditions.php [NC,L] 
RewriteRule ^Frequently-Asked-Questions  faq.php [NC,L] 
RewriteRule ^How-It-Works  how-it-works.php [NC,L] 
RewriteRule ^Services  services.php [NC,L] 
RewriteRule ^Business-Loan  business_loan.php [NC,L] 
RewriteRule ^Personal-Loan  personal_loan.php [NC,L] 
RewriteRule ^EDC-Swiping-Loan  edc_swaping.php [NC,L]
RewriteRule ^Mortgage-Loan  mortgages.php [NC,L]
RewriteRule ^Auto-Loan  auto_loan.php [NC,L]
RewriteRule ^Car-Loan  car_loan.php [NC,L] 
RewriteRule ^Housing-Loan housing_loan.php [NC,L]
RewriteRule ^Consumer-Durable-Loan  cd_loan.php [NC,L]
RewriteRule ^Commercial-Vehicle-Finance-Loan  commercial_vehicle_finance.php [NC,L]
RewriteRule ^Construction-Equipment-Finance-Loan  construction_equipment_finance.php [NC,L]
RewriteRule ^Educational-Loan  education_loan.php [NC,L]
RewriteRule ^Industrial-Finance-Loan  industrial_finance.php [NC,L]
RewriteRule ^Invoice-Funding-Loan  invoice_funding.php [NC,L]
RewriteRule ^LC-Bill-Discounting-Service  lc_bill_discounting_service.php [NC,L]
RewriteRule ^Project-Funding  project_funding.php [NC,L]
RewriteRule ^School-Loan  school_loan.php [NC,L]
RewriteRule ^SME-Loan  sme_loan.php [NC,L]
RewriteRule ^Two-Wheeler-Loan  two_wheeler_loan.php [NC,L]
RewriteRule ^Working-Capital-Loan  workingcapital.php [NC,L]
RewriteRule ^Term-Loan-Services  term_loan_services.php [NC,L]